@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

@media (min-width: 768px) {
  .container {
    height: 100%;
    width: 100%;

    font-size: 12px;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    text-align: center;
  }
  .container .nav {
    grid-column: 1 / 13;
  }
  .container .sidebar {
    grid-column: 1 / 3;
    grid-row: 2 / 13;
  }
  .container .main {
    grid-column: 3 / 13;
    grid-row: 3 / 13;
  }


  .container .nav {
    display: flex;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .container .nav p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 900;

  }
  .container .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .avatar {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 9999px;
  }
  /* end header */

  .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }
  .sidebar a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 16px;
    background-color: #ffffff;
  }
  .sidebar a h3 {
    margin-left: 5px;
  }
  .sidebar a span {
    font-style: 1.6rem;
    transition: all 300ms ease;
  }
  .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
  }
  .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
  }

  .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
  }

  .sidebar a:hover {
    color: var(--color-primary);
  }

  .sidebar a:hover span {
    margin-left: 1rem;
  }

  .main .recent-orders table {
    background: var(--color-white);
    width: 90%;
    margin: 20px auto;
    border-radius: var(--card-border-radius);

    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  .main .recent-orders table:hover {
    box-shadow: none;
  }
  .main table tbody td {
    height: 2.8rem;
    color: var(--color-dark-variant);
  }

  .main .header_title {
    font-size: 16px;
    margin-right: 80%;
    font-weight: bold;
  }
  .main .header_input {
    display: flex;
    height: 40px;
  }
  .main .header_input input {
    margin-left: auto;
  }
  .main .header_input input::placeholder {
    font-style: italic;
    padding: 5px;
  }
  .main .header_input button {
    background-color: #bbd622;
    font-weight: bold;
    border-radius: 10px;
    width: 20%;
    margin-right: 40px;
  }
  /* end of main */

  table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
  }
  table thead tr :nth-child(2),
  table thead tr :nth-child(3),
  table thead tr :nth-child(4) {
    text-align: right;
  }
  table tbody tr :nth-child(2),
  table tbody tr :nth-child(3),
  table tbody tr :nth-child(4) {
    text-align: right;
  }

  th,
  td {
    border: 1px solid light;
    padding: 6px;
    text-align: left;
    font-size: 18px;
  }

  th {
    background-color: #ddd;
  }

  tr:hover {
    background-color: #bbd622;
  }

  #pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .pagination-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  .active {
    background-color: #007bff;
  }
}
@media (max-width: 767px) {
  .container {
    height: 100%;
    width: 100%;

    font-size: 12px;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    text-align: center;
  }
  .container .nav {
    grid-column: 1 / 13;
  }
  .container .sidebar {
    grid-column: 1 / 3;
    grid-row: 2 / 13;
  }
  .container .main {
    grid-column: 3 / 13;
    grid-row: 2 / 13;
  }

  .container .nav {
    display: flex;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .container .nav p {
    margin-left: 10px;
  }
  .container .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .avatar {
    margin-left: auto;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img {
    max-width: 2rem;
    max-height: 2rem;
    border-radius: 9999px;
  }
  /* end header */
  .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }
  .sidebar a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    background-color: #cfcbcb;
  }
  .sidebar a h3 {
    margin-left: 5px;
  }
  .sidebar a span {
    font-style: 1.6rem;
    transition: all 300ms ease;
  }
  .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
  }
  .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
  }

  .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
  }

  .sidebar a:hover {
    color: var(--color-primary);
  }

  .sidebar a:hover span {
    margin-left: 1rem;
  }
  /* end side bar */

  .main .recent-orders table {
    background: var(--color-white);
    width: 90%;
    margin: 20px auto;
    border-radius: var(--card-border-radius);

    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
  }
  .main .recent-orders table:hover {
    box-shadow: none;
  }
  .main table tbody td {
    height: 2.8rem;
    color: var(--color-dark-variant);
  }

  .main .header_title {
    font-size: 16px;
    margin-right: 80%;
    font-weight: bold;
  }
  .main .header_input {
    display: flex;
    height: 40px;
  }
  .main .header_input input {
    background-color: #e7d6d6;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 10px;
  }
  .main .header_input button {
    background-color: #bbd622;
    font-weight: bold;
    border-radius: 10px;
 
    margin-right: auto;
  }

  /* end of main */
  table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
  }
  table thead tr :nth-child(2),
  table thead tr :nth-child(3),
  table thead tr :nth-child(4) {
    text-align: right;
  }
  table tbody tr :nth-child(2),
  table tbody tr :nth-child(3),
  table tbody tr :nth-child(4) {
    text-align: right;
  }
  th,
  td {
    border: 1px solid light;
    padding: 6px;
    text-align: left;
    font-size: 18px;
  }

  th {
    background-color: #ddd;
  }

  tr:hover {
    background-color: #bbd622;
  }

  #pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .pagination-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  .active {
    background-color: #007bff;
  }
}
